* {
  text-align: center;
  color: #333;
  padding: 0;
  margin: 0;
}
.loading {
  margin-top: 100px;
  width: 100px;
}
.header_wrap {
  padding: 40px 0 20px 0;
}
.logo {
  width: 50px;
  height: fit-content;
}
h1 {
  padding-top: 10px;
}

.search_tag {
  color: #555;
}

.search_bar::placeholder {
  color: #999;
}

.search_btn {
  font-size: 12px;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
  padding: 3px 5px;
  margin-left: 5px;
}

.dogs_list {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 30px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0;
}

.dogs_list li {
  display: inline-block;
  width: calc(33.3333% - 30px);
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #555;
  background-color: #555;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.dogs_list li:hover {
  background-color: #fff;
}

.dogs_list li:hover span {
  color: #555;
  font-weight: bold;
}

.dogs_list span {
  color: #fff;
  display: inline-block;
  word-break: break-all;
  font-weight: normal;
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
}

.dogs_list .img_wrap {
  overflow: hidden;
}
.dogs_list img {
  width: 100%;
  background-size: cover;
  height: 300px;
}
